################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build
/.vs/Mandelbrot/v15
*.suo
*.log
*.db
*.opendb
